<div class="top-row ps-3 navbar bg-body-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="_content/SalesTracker.Shared/images/LogoFull.png" alt="Sales Tracker" class="mw-100" />
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" @ref="navToggle" />

<div class="nav-scrollable" @onclick="CloseNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-body" href="/dashboard" Match="NavLinkMatch.All">
                <GraphUpIcon Width="24" Height="24" CssClass="me-2" />
                Dashboard
            </NavLink>            
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-body" href="sales/view">
                <CartIcon Width="24" Height="24" CssClass="me-2" /> Sales
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-body" href="items/view">
                <BoxIcon Width="24" Height="24" CssClass="me-2" /> Items
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private ElementReference navToggle;

    private async Task CloseNavMenu()
    {
        if (navToggle.Context != null)
        {
            await navToggle.FocusAsync();
        }
    }
}

