<div class="top-row ps-3 navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SalesTracker2</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>            
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sales/view">
                <span class="bi bi-eye-nav-menu" aria-hidden="true"></span> Sales
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="items/view">
                <span class="bi bi-eye-nav-menu" aria-hidden="true"></span> Items
            </NavLink>
        </div>
    </nav>
</div>

