<div class="top-row px-3 navbar bg-body-secondary">
    <div class="w-100 d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="/dashboard">
            <img src="_content/SalesTracker.Shared/images/LogoFull.png" alt="Sales Tracker" class="mw-100" />
        </a>
        <div class="d-flex h-100 flex-column">
            <button class="navbar-toggler" id="nav-toggle" type="button" @onclick="ToggleNavMenu" aria-controls="navMenu" aria-expanded="@isNavOpen.ToString().ToLower()" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</div>


<div class="nav-scrollable collapse @(isNavOpen ? "show" : "")" id="navMenu" @onclick="CloseNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-body" href="/dashboard" Match="NavLinkMatch.All">
                <GraphUpIcon Width="24" Height="24" CssClass="me-2" />
                Dashboard
            </NavLink>            
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-body" href="sales/view">
                <CartIcon Width="24" Height="24" CssClass="me-2" /> Sales
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-body" href="items/view">
                <BoxIcon Width="24" Height="24" CssClass="me-2" /> Items
            </NavLink>
        </div>
    </nav>
</div>

@inject IJSRuntime JS

@code {
    private bool isNavOpen = false;

    private void ToggleNavMenu()
    {
        isNavOpen = !isNavOpen;
    }

    private void CloseNavMenu()
    {
        isNavOpen = false;
    }
}

