@page "/"

<PageTitle>Dashboard</PageTitle>

<div class="container-fluid">
    <h1>Dashboard</h1>
    <p>This is a placeholder for the dashboard with key metrics.</p>
    
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Sales This Month</h5>
                    <p class="card-text">$0.00</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Net Profit</h5>
                    <p class="card-text">$0.00</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pending Deliveries</h5>
                    <p class="card-text">0</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Backordered Items</h5>
                    <p class="card-text">0</p>
                </div>
            </div>
        </div>
    </div>
</div>
