@keyframes glow {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
}

.loading-view {
    animation: glow 2s ease-in-out infinite;
    border-radius: 12px;
}

.stat-icon
 {
    width: 32px;
}

::deep .backorder-list .item-row-image {
    width: 42px;
    height: 42px;
}

.stats-container .card {
    width: 33.33%;
}

#salesChart {
    height: 223px;
}